<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/selenium_java/src/priya/selenium_java/webdriver/launchbrowser.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="priya.selenium_java.webdriver.launchbrowser"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="selenium_java"/>
</launchConfiguration>
